---
layout: header
---


<div class="container-fluid">


  <div class="row-fluid">

        <div class="col-md-3">
            <br>
            <br>
            <img src="/assets/images/anomita-4.jpg" alt="profile picture"  class="resize" align="middle"/>
            <h2 class="name">Anomita <br>
            Ghosh</h2>
       <!--     <h3 class="tagline">Assistant Professor</h3> -->
        <!--    <h4 class="tagline"><a class="a1" href="https://economics.illinois.edu/" target="_blank">IISERB</a></h4> -->
        </div>

        <!-- ##################-->
        <!-- content -->
        <!-- ##################-->
        <div class="col-md-9"> {{ content }} </div>

</div>
</div>
